// COLORS
$color-primary: #34a3d7;
$color-primary-light:  #369ac792;
$color-primary-dark:  #24aceb;

$color-secondary-light: #c32451;
$color-secondary-dark: #bf0f41;

$color-tertiary-light: rgb(233, 95, 21);
$color-tertiary-dark: rgb(240, 64, 11);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// 1em = 16px   
// RESPONSIVE BREAKPOINTS
$bp-desktop-big: 112.25em;   // 1800px
$bp-tablet-landscape: 56.2em;  // 900px
$bp-tablet-potrait: 37.25em;    // 600px;
$bp-mobile: 35.5em;    // 568px;

// PADDING
$padding-d-big: 17px;
$padding-d: 15px;
$padding-t: 12px;
$padding-m: 10px;


// ICON-SIZE
$icon-size-d: 20px;
$icon-size-t: 15px;
$icon-size-m: 15px;

