@import '../../../../../styles/abstracts/config';


 .header {
  height: 5rem;
  color: $color-white;

  &__nav {
      height: inherit;
  }

  &__nav-container {
      background-color: $color-primary;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: inherit;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 1rem 3rem;

      @include respond(mobile) {
          justify-content: center;
      }
  }

  &__items-left, &__items-right{
      @include respond(mobile){
          display: none;
      }
  }

  &__items-menu{

      @include respond(mobile){
      }
  }

  &__logo-box{
      height: inherit;
  }

  &__logo-img {
      width: 3.125rem;
      height: inherit;
  }

  &__logo-title {
    cursor: pointer;
  }
}
