<div class="genre">
  <h2 *ngIf="title" class="genre-title">{{ title }}</h2>
  <div class="genre__content">
    <div class="genre__content-list"
       #genrelist
      *ngIf="(deviceSetting$ | async) as deviceSetting"
      [ngClass]="{'touch-screen': deviceSetting.userAgent !== 'desktop'}">

      <ng-container *ngFor="let show of shows">
        <show-card [show]="show"></show-card>
      </ng-container>

      <ng-container *ngIf="deviceSetting.userAgent === 'desktop'">
        <div *ngIf="currentScrollPosition < overallScrollWidth" class="chevron chevron__svg-rightbox">
          <img
            (click)="scrollRight()"
            class="chevron__svg-icon"
            src="assets/svg/chevron-circle-right-solid.svg"
          />
        </div>
        <div *ngIf="currentScrollPosition > listContainerWidth" class="chevron chevron__svg-leftbox">
          <img
            (click)="scrollLeft()"
            class="chevron__svg-icon"
            src="assets/svg/chevron-circle-left-solid.svg"
          />
        </div>
      </ng-container>

    </div>
  </div>
</div>
