@import '../../../../../styles/abstracts/config';

.genre {
  position: relative;
  margin: 1.5rem 0rem;

  &-title {
    font-size: 1.2rem;
  }

  &__content {
    position: relative;

    &-list {

      scroll-behavior: smooth;
      display: flex;
      margin-top: 0.75rem;
      overflow: hidden;

      @include respond(tab-land) {
        &.touch-screen {
            overflow-x: scroll;
        }
      }

      @include respond(tab-port) {
        &.touch-screen {
            overflow-x: scroll;
        }
      }

      @include respond(mobile) {
        &.touch-screen {
            overflow-x: scroll;
        }
      }

      show-card {
        margin: 0 0.4rem;

        &:first-child {
          margin-left: 0;
        }
      }

      .chevron {
        display: flex;
        align-items: center;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);

        &__svg-rightbox {
          position: absolute;
          z-index: 50;
          top: 50%;
          right: 0;
          transform: translate(0%, -50%);
        }

        &__svg-leftbox {
          position: absolute;
          z-index: 50;
          top: 50%;
          left: 0;
          transform: translate(0%, -50%);
        }

        &__svg-icon {
          width: 1.8rem;
          height: 1.9rem;
          cursor: pointer;
        }
      }
    }
  }
}
